.main-content {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 2em 1em;
}

.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #ddd;
  border-radius: 12px;
  margin-right: 10px;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: black;
  background-color: yellow;
}

nav {
    max-width: 50em;
}

nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: #eee;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h4 {
    padding: 0;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

a {
    color: black;
    background: rgba(255, 255, 0, .7);
}

img {
  height: auto;
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: black;
    color: white;
  }
  a {
      background: rgba(0, 255, 0, 1);
  }
  nav a{
      background: rgba(20, 20, 20, 1);
  }
  code,
  pre {
      background: rgba(20, 20, 20, 1);
      color: green;
  }
  .topnav a {
      background: rgba(20, 20, 20, 1);
      color: green;
  }
  .topnav a.active {
    color: black;
    background-color: green;
  }
}

