{% from "./templates/header.html" import build_header %}
{{ build_header("About") }}
<div class="main-content">
<h1>About</h1>
<h4>About Me</h4>
<p>I'm a student/software developer getting my Bachelor's degree in Computer
Science. This past fall, I interned at Tesla where I worked on Software In the
Loop validation for high voltage battery management systems.</p>
<h4>What is this?</h4>
<p>This is a website that I made to write about my technical interests; which
mainly include Low Level Systems Programming and Machine Learning.</p>
<p>A lot of the content CSS is from Jeremy Thomas's 
    <a href="https://jgthms.com/web-design-in-4-minutes/#share">
        Web Design in 4 minutes</a> guide. Syntax highlighting is done using
    <a href="https://highlightjs.org">highlightjs</a>. But, the rest is written
by me and is available on my <a href="https://github.com/CCLDArjun/ccldarjun.github.io">
github</a>.</p>
<h4>Contact</h4>
<p>send me an email at <a href = "mailto: ccldarjun@icloud.com">ccldarjun@icloud.com</a></p>

</div>

</body>
</html>



